/* Dark Mode Variables */
:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --card-bg: #c7c7d183;
  --border-color: #e0e0e0;
  --section-color1: #121212;
  --section-color2: #5ab9828e;
  --section-color3: #63fac854;
  --nav-bar-color: #dce4fd;
  --nav-text: #131313;
  --h1-color: #000000;
  --blue-white: rgb(0, 0, 255);
  --blue-orange: #090040;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --card-bg: #010513;
  --p-text: #ffffff;
  --section-color3: #12131a;
  --blue-orange: rgb(247, 91, 18);
  --blue-white: #fff;
  --nav-text: #683eff;
  --border-color: #333333;
  --light-color: #0e0e0e;
  --h1-color: #ffffff;
  --h2-color: #ffffff;
  --nav-bar-color: #06050f;
  --gradient1: linear-gradient(135deg, #013d1f, #202630);
  --gradient2: linear-gradient(135deg, #002412, #101318);
  --shadow: box-shadow: 0 2px 10px rgba(84, 203, 240, 0.527);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}